{% extends 'core/base.html' %}

{% block contenido %}
    <div class="d-flex justify-content-center mt-5 mb-5">
        <table class="table table-striped-columns w-25 p-3 ">
            <thead>
                <th>Nombre</th>
                <th>Personaje</th>
            </thead>
            <tbody>
                {% for protagonista in protagonistas %}
                    <tr>
                        <td>{{ protagonista.nombre }}</td>
                        <td>{{ protagonista.personaje }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        
        </table>
    </div>


{% endblock contenido %}